:root {
  --embed-window-height: 630px;
  --embed-window-width: 520px;
}

body {
  max-height: var(--embed-window-height);
  max-width: var(--embed-window-width);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}