:root {
  --embed-window-height: 630px;
  --embed-window-width: 520px;
}

body {
  max-height: var(--embed-window-height);
  max-width: var(--embed-window-width);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }
}