.interface {
  white-space: pre;
  font-family: monospace;
}

.anchor, .interactive {
  display: inline;
  position: relative;
}

.anchor-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.interactive {
  cursor: pointer;
  text-decoration: underline;
}

.interactive:hover {
  font-weight: bold;
}

.emoji {
  font-size: 18px;
}

.guess {
  font-size: 22px;
}

.guess input {
  --letter-spacing: 10px;
  font-family: monospace;
  letter-spacing: var(--letter-spacing);
  display: inline-block;
  text-transform: uppercase;
  width: calc(1ch + var(--letter-spacing));
  border: none;
  outline: none;
  caret-color: transparent;
  padding: 0;
  padding-left: 5px;
  margin: 0;
}

@keyframes blink {
  50%, 100% { opacity: 1; }
  0%, 49% { opacity: 0; }
}

.cursor { 
  animation: blink 1s infinite; 
  display: inline-block;
  margin-left: -10px;
}

.hint {
  display: block;
  width: 165px;
  height: 50px;
  word-wrap: break-word;
  white-space: initial;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }
}