* { box-sizing: border-box; }

:root {
  --green: #bcef9a;
  --yellow: #efd667;
}

.interface {
  white-space: pre;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

/* GAME BOARD */

.game-board {
  height: 66.6svh;
  max-height: 66.6svh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.tooltip {
  opacity: 0;
  margin: -20px 0;
  text-align: right;
  margin-right: 25px;
  color: #AAA
  transition: opacity 0.5s ease-in-out;
}

.tooltip.show {
  opacity: 1;
}

.entry-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.entry-zone.hide { 
  display: none;
}

.entry-zone .spacer {
  flex: 1; /* Allocate the available space equally */
  border-radius: 3px;
  background: #EEE;
  margin: 0 4px; /* Optional: add some space between spacers */
  height: 50px;
  max-width: 40px;
  padding: 3px;
  font-size: xxx-large;
  text-align: center;
  font-family: "Rancho", sans-serif;
  font-weight: 400; /* 400 or 700 */
  line-height:44px;
}

.entry-zone .spacer.score-green {
  background: var(--green);
  color: rgb(5, 72, 5)
}

.entry-zone .spacer.score-yellow {
  background: var(--yellow);
  color: rgb(59, 59, 10)
}

@keyframes blink {
  0% {
    background: #EEE;
  }
  50% {
    background: #CCC;
  }
  100% {
    background: #EEE;
  } 
}

.entry-zone .spacer.blink {
  animation: blink 1s infinite;
}

.equation {
  text-align: center;
  font-size: 50px;
  display: block;
}

.equation,
.history-zone {
  transition: opacity 0.5s ease;
}

.equation.transparent,
.history-zone.transparent {
  opacity: 0;
}

.history-zone .equation { 
  opacity: 1;
  margin-bottom: 10px;
}

.clue { 
  display: inline-block;
  font-size: 50px;
  font-family: system-ui, Helvetica, sans-serif;
  touch-action: none;
}

.clue.floating_clue {
  transition: all 1s ease-in-out;
  position: absolute;
  z-index: 1;
}

.history-zone .equation,
.history-zone .equation .clue,
.curtain .equation,
.curtain .equation .clue {
  font-size: 20px;
}

.answer-in-words {
  margin-left: 5px;
}

.theme-hint {    
  margin: 0;
  color: #AAA;
  font-family: system-ui, Helvetica, sans-serif;
  text-align: center;
}

/* KEYBOARD */
.keyboard {
  height: 33.3svh;
  max-height: 33.3svh;
  width: 100vw;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  height: 25%;
  touch-action: manipulation;
}

.keyboard-row button {
  --button-margin: 3px;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  box-sizing: border-box; /* Recommended for better control over padding and borders */
  /* Custom styles below */
  padding: 8px 0px;
  margin: var(--button-margin);
  background-color: #444; /* Dark gray background */
  color: white; /* White text */
  font-size: 16px;
  border-radius: 4px; /* Rounded corners */
  text-transform: uppercase; /* Capital letters */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  width: calc(9.5vw - var(--button-margin) * 2); /* Adjusted width to fit 10 buttons per row */
  height: calc(100% - 10px);
  font-family: "Rancho", sans-serif;
  font-size: 28px;
  touch-action: manipulation;
}


.keyboard-row button.score-green {
  background: var(--green);
  color: black;
}

.keyboard-row button.score-yellow {
  background: var(--yellow);
  color: black;
}

.keyboard-row button.score-disabled, 
.keyboard-row button[disabled]:hover,
.keyboard-row button[disabled]:active {
  background: #CCC;
  color: #999;
}

.keyboard-row .enter,
.keyboard-row .backspace {
  font-size: 16px;
}

.keyboard-row button:hover {
  background-color: #666; /* Lighten the button on hover */
}

.keyboard-row button:active {
  background-color: #222; /* Darken the button when clicked */
}

.curtain {
  display: none;
}

.curtain h1 { font-size: 55px; }
.curtain p { font-size: 28px; }

.curtain.show { 
  background: white;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rancho';
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }

  @keyframes blink {
    0% { background: #555; }
    50% { background: #888;}
    100% { background: #555; }
  }

  .entry-zone .spacer {
    background: #555;
  }
}